<!-- DOCTYPE -->
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:tiles="http://www.thymeleaf.org">
  <head>
  
 	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{assets/images/favicon.png}">
   
    <title>.::LIARE.PE::.</title>
    
    <!-- Bootstrap Core CSS -->
    <link th:href="@{assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
   
    <!-- page css -->
    <link th:href="@{css/pages/login-register-lock.css}" rel="stylesheet">
   
    <!-- Custom CSS -->
    <link th:href="@{css/style.css}" rel="stylesheet">
    
    <!-- You can change the theme colors from here -->
    <link th:href="@{css/colors/default-dark.css}"  id="theme" rel="stylesheet">
    
    <style type="text/css"></style>

  </head>
  
  
 <body class="card-no-border">
  

   
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Liare</p>
        </div>
    </div>


    <section id="wrapper">
        <div class="login-register" style="background-image:url(assets/images/background/liare.jpeg);">
            <div class="login-box card">
                <div class="card-body">
                    <form class="form-horizontal form-material"  method="post" role="form" th:action="@{/login}" >
                        <h3 class="box-title m-b-20"><img th:src="@{assets/images/user-login-start.jpg}"></img></h3>
                        			 <div th:if="${param.error}" class="alert alert-danger">
                       					Usuario o Password Inválido
                    				</div>
                    				 <div th:if="${param.logout}" class="alert alert-info">
                        				El Usuario se ha Desconectado
                    				 </div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input type="text"  name="username" id="username" tabindex="1" class="form-control" placeholder="Usuario" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                               <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Contraseña">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="checkbox checkbox-info float-left p-t-0">
                                    <input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">
                                    <label for="checkbox-signup">Recordar </label>
                                </div> 
                               
                               <!--  
                               
                                <a href="javascript:void(0)" id="to-recover" class="text-muted float-right">
                                   <i class="fa fa-lock m-r-5"></i> Olvido Contraseña?
                                </a> 
                                -->
                            </div>
                        </div>
                      
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info btn-roundedlogin" type="submit" name="login-submit" id="login-submit"  >Ingresar</button>
                            </div>
                        </div>                    


                    </form>
                    <form class="form-horizontal" id="recoverform" action="index.html">
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <h3>Recuperar Contraseña</h3>
                                <p class="text-muted">Ingrese su correo institucional </p>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="required" placeholder="Email"> </div>
                        </div>
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" 
                                   type="submit">Resetear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
   

   <script th:src="@{assets/plugins/jquery/jquery.min.js}"></script>	
   
    <!-- Bootstrap tether Core JavaScript -->
   <script th:src="@{assets/plugins/bootstrap/js/popper.min.js}"></script>
   <script th:src="@{assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
   
    <!--Custom JavaScript -->
    <script type="text/javascript">
        $(function() {
            $(".preloader").fadeOut();
        });
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        });


        $('#to-recover').on("click", function() {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
    </script>


</html>