<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">



  <!-- <script th:src="@{assets/plugins/jquery/jquery.min.js}"></script>  -->
 
 <!-- Bootstrap tether Core JavaScript -->
 <script th:src="@{assets/plugins/bootstrap/js/popper.min.js}"></script>
 <script th:src="@{assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
 
 <!-- slimscrollbar scrollbar JavaScript -->
 <script th:src="@{js/perfect-scrollbar.jquery.min.js}"></script>
  
 <!--Wave Effects -->
 <script th:src="@{js/waves.js}"></script>
 
 <!--Menu sidebar -->
 <script th:src="@{js/sidebarmenu.js}"></script>
 
  <!--Custom JavaScript -->
 <script th:src="@{js/custom.min.js}"></script> 
 
 <!--Validation JavaScript -->
 <script th:src="@{js/validation.js}"></script> 
    
  <!--c3 JavaScript -->
 <script th:src="@{assets/plugins/d3/d3.min.js}"></script>
 <script th:src="@{assets/plugins/c3-master/c3.min.js}"></script>
 
 <!-- Style switcher -->   
 <script th:src="@{assets/plugins/styleswitcher/jQuery.style.switcher.js}"></script>
  
  <!--stickey kit -->
 <script th:src="@{assets/plugins/sticky-kit-master/dist/sticky-kit.min.js}"></script>
 <script th:src="@{assets/plugins/sparkline/jquery.sparkline.min.js}"></script>
  
 
 <!-- DataTables --> 
 <script th:src="@{assets/plugins/datatables/datatables.min.js}"></script>
  
 <script th:src="@{assets/plugins/datatables/media/js/jquery.dataTables.min.js}"></script>
 <script th:src="@{assets/plugins/datatables/media/js/dataTables.bootstrap4.min.js}"></script>
 <script th:src="@{assets/plugins/datatables/media/js/dataTables.responsive.min.js}"></script>
 <script th:src="@{assets/plugins/datatables/media/js/responsive.bootstrap4.min.js}"></script>
     
 <!-- start - This is for export functionality only -->
 <script th:src="@{assets/plugins/datatables/media/js/dataTables.buttons.min.js}"></script>
 <script th:src="@{assets/plugins/datatables/media/js/buttons.flash.min.js}"></script>
 <script th:src="@{assets/plugins/datatables/media/js/jszip.min.js}"></script>
 <script th:src="@{assets/plugins/datatables/media/js/pdfmake.min.js}"></script>
 <script th:src="@{assets/plugins/datatables/media/js/vfs_fonts.js}"></script>
 <script th:src="@{assets/plugins/datatables/media/js/buttons.html5.min.js}"></script>
 <script th:src="@{assets/plugins/datatables/media/js/buttons.print.min.js}"></script>
   
 
 <!-- Toastr Alerts  -->
 <script th:src="@{assets/plugins/toast-master/js/jquery.toast.js}"></script>
 
 <!-- Sweet-Alert  -->
 <script th:src="@{assets/plugins/sweetalert/sweetalert.min.js}"></script>
 
 <!--Jquery - blockUI-->
 <script th:src="@{assets/plugins/blockUI/jquery.blockUI.js}"></script> 
 
 <!--Jquery - loadingOverlay-->
 <script th:src="@{assets/plugins/loading-overlay/loadingoverlay.min.js}"></script> 
 
  <!--Bootstrap Date time picker-->
 <script th:src="@{assets/plugins/moment/moment.js}"></script> 
 <script th:src="@{assets/plugins/moment/es.js}"></script> 
 <script th:src="@{assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
  
 <!-- Clock Plugin JavaScript -->
 <script th:src="@{assets/plugins/clockpicker/dist/jquery-clockpicker.min.js}"></script> 
 
  <!-- ============================================================== -->
  <!-- This page plugins -->
  <!-- ============================================================== -->
  <script th:src="@{assets/plugins/switchery/dist/switchery.min.js}"></script>
  
  <script th:src="@{assets/plugins/select2/dist/js/select2.full.min.js}"></script>
  
  
  <script th:src="@{assets/plugins/bootstrap-select/bootstrap-select.min.js}" ></script>
  
  <script th:src="@{assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js}"></script>
  
  <script th:src="@{assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js}"></script>
  
  <script th:src="@{assets/plugins/dff/dff.js}"></script>
  
  <script th:src="@{assets/plugins/multiselect/js/jquery.multi-select.js}"></script>
  
  <script th:src="@{assets/plugins/styleswitcher/jQuery.style.switcher.js}"></script>
  
  <script th:src="@{assets/plugins/dropzone-master/dist/dropzone.js}"></script>
  
  
 
  <script th:src="@{assets/plugins/chartist-js/dist/chartist.min.js}"></script>
  
  <script th:src="@{assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js}"></script>
   
   <script th:src="@{assets/plugins/dropify/dist/js/dropify.min.js}"></script>
  
  <script th:src="@{app/app.js}"></script>

  <script th:src="@{app/menu.dinamico.js}"></script>
   

</html>