<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<!-- Bootstrap Core CSS -->    
    <link rel="stylesheet" th:href="@{assets/plugins/bootstrap/css/bootstrap.min.css}"> 
    <link rel="stylesheet" th:href="@{assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css}">           
            
    <!-- Toastr Alerts  toast CSS--> 
    <link rel="stylesheet" th:href="@{assets/plugins/toast-master/css/jquery.toast.css}">    
          
     <!-- page css -->
    <link rel="stylesheet" th:href="@{css/pages/other-pages.css}">
    
     <!--alerts CSS -->
    <link rel="stylesheet" th:href="@{assets/plugins/sweetalert/sweetalert.css}" >     
           
    <!-- DATATABLES -->
    <link rel="stylesheet" th:href="@{assets/plugins/datatables/media/css/dataTables.bootstrap4.css}">  
   
    <link rel="stylesheet" th:href="@{assets/plugins/datatables/media/css/responsive.bootstrap4.min.css}">    
    
    <!-- Bootstrap Date time picker -->
    <link rel="stylesheet" th:href="@{assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}">       
       
    <!-- Clock css -->
    <link rel="stylesheet" th:href="@{assets/plugins/clockpicker/dist/jquery-clockpicker.min.css}">     
    
    <!--c3 CSS -->   
    <link rel="stylesheet" th:href="@{assets/plugins/c3-master/c3.min.css}">  
          
     <!-- Custom CSS -->   
    <link rel="stylesheet" th:href="@{css/style.css}">
    
    <!-- page css -->
    <link rel="stylesheet" th:href="@{css/pages/stylish-tooltip.css}">
    
    <link th:href="@{assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{assets/plugins/select2/dist/css/select2.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{assets/plugins/switchery/dist/switchery.min.css}" rel="stylesheet" />
    <link th:href="@{assets/plugins/bootstrap-select/bootstrap-select.min.css}" rel="stylesheet" />
    <link th:href="@{assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css}" rel="stylesheet" />
    <link th:href="@{assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css}" rel="stylesheet" />
    <link th:href="@{assets/plugins/multiselect/css/multi-select.css}" rel="stylesheet" type="text/css" />
    
    <!-- You can change the theme colors from here -->   
    <link id="theme" rel="stylesheet" th:href="@{css/colors/default-dark.css}">    
     <link  th:href="@{assets/plugins/dropify/dist/css/dropify.min.css}">
    <!-- jQuery 3.2.0 -->	
	<script th:src="@{assets/plugins/jquery/jquery.min.js}"></script>		

	
</html>